:root {
  --red-rgb: 255 102 196;
  --blue-rgb: 81 112 255;
  --green-rgb: 121 110 242;
  --background-rgb: 0 0 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--background-rgb));
  overflow: hidden;
  perspective: 2000px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logoplane {
  position: absolute;
  transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg);
  pointer-events: none;
  width: 30vw; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

#container {
  width: 100vw; /* Take up full viewport width */
  height: 100vh; /* Take up full viewport height */
  aspect-ratio: 1; /* Maintain a square aspect ratio */
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg) scale(1.25);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#container:after,
#container:before {
  content: "";
  position: absolute;
  inset: 0px;
  pointer-events: none;
}

#container:before {
  z-index: 2;
  background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
  background-size: 5%;
  background-repeat: repeat;
  opacity: 0.25;
}

#container:after {
  z-index: 3;
  background: radial-gradient(circle, transparent 25%, rgb(var(--background-rgb)) 80%);
}

.tile {
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: background-color 1500ms;
  background-color: transparent; /* Ensure the background is transparent initially */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.tile:hover,
.tile:active {
  transition-duration: 0ms;
}

.tile:nth-child(4n):hover,
.tile:nth-child(4n):active {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(4n + 1):hover,
.tile:nth-child(4n + 1):active {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(4n + 2):hover,
.tile:nth-child(4n + 2):active {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(4n + 3):hover,
.tile:nth-child(4n + 3):active {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(7n):hover,
.tile:nth-child(7n):active {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(7n + 3):hover,
.tile:nth-child(7n + 3):active {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(7n + 5):hover,
.tile:nth-child(7n + 5):active {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(7n + 6):hover,
.tile:nth-child(7n + 6):active {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(11n + 1):hover,
.tile:nth-child(11n + 1):active {
  background-color: rgb(var(--green-rgb));
}

.tile:nth-child(11n + 4):hover,
.tile:nth-child(11n + 4):active {
  background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(11n + 7):hover,
.tile:nth-child(11n + 7):active {
  background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 10):hover,
.tile:nth-child(11n + 10):active {
  background-color: rgb(var(--green-rgb));
}

/* -- Links -- */

#links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 2vw; /* Responsive */
  left: 2vw; /* Responsive */
  z-index: 100;
  padding: 1vw; /* Responsive */
}

.meta-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meta-link > :is(span, a) {
  font-family: "Inter", sans-serif;
  font-size: 1.5vw; /* Responsive */
  color: white;
}

.meta-link > a {
  text-decoration: none;
  outline: none;
}

.meta-link > a.discord {
  color: rgb(94, 106, 210);
}

.meta-link > a:is(:hover, :focus) > i {
  color: white;  
}

.meta-link > a.youtube {
  color: rgb(239, 83, 80);
}

.meta-link > a.youtube > i {
  padding-top: 0.2rem; 
}

.meta-link > a.insta {
  color: rgb(255, 219, 128);
}

.meta-link > a.insta > i {
  padding-top: 0.2rem; 
}

.meta-link > a > i {
  height: 2vw; /* Responsive */
  line-height: 2vw; /* Responsive */
}

@media (max-width: 600px) {
  #logoplane {
    width: 50vw; /* Adjust as needed */
  }

  .meta-link > :is(span, a) {
    font-size: 4vw; /* Adjust as needed */
  }

  #links {
    bottom: 2vw; /* Adjust as needed */
    left: 2vw; /* Adjust as needed */
    padding: 2vw; /* Adjust as needed */
  }
}
